<header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid" height="70px"  style="float:left; margin-top:9px; margin-right:18px;"></a>
        <h1 class="text-light"><a href="/"><span>Infobeans Foundation</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="" href="/">Home</a></li>
          <li><a  href="/about" class=<%= active2%>>About</a></li>
          <!-- {{!-- <li><a class="{{active3}}" href="/placements">Placements</a></li> --}} -->
          <li><a  href="/gallery" class=<%= active4%>>Gallery</a></li>
          <li><a href="/placements" class=<%= active5%> >Placements</a></li>
          <li><a href="/contact" class=<%= active6%> >Contact Us</a></li>
          <li><a  href="/login" class=<%= active7%>>Login</a></li>
           <li><a href="/admin" class=<%= active8%> >Admin</a></li>
          <!-- {{!-- <li><a class="glyphicon glyphicon-user" href="/admin"></a>ggg</li> --}} -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->