<!DOCTYPE html>
<html lang="en">
<head>
 
  <%- include('../partials/links')  %>
  <style>
    .conbg{
      border-radius: 10px;
      color: white;
      font-size: 25px;
      background: linear-gradient(180deg,black,#ab2330);
    }
  </style>
</head>
<body>
  <%- include('../partials/navbar2')  %>


    <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">WELCOME TO <span>INFOBEANS FOUNDATION</span></h2>
          <p class="animate__animated animate__fadeInUp">Unnat Rashtra ki kalpana, Computer saksharta ghar ghar pahuchana</p>
          <a href="/about" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">DON'T MISS THIS GOLDEN OPPORTUNITIES</h2>
          <p class="animate__animated animate__fadeInUp">Many student of our foundation already doing great in different it companies</p>
          <!-- <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a> -->
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">REGISTER NOW</h2>
          <p class="animate__animated animate__fadeInUp">limited seats available</p>
          <a href="/register" class="btn-get-started animate__animated animate__fadeInUp">Register</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">
          <div class="row mb-5">
            <div class="col-md-2 m-auto">
              <a href="/register"><button class="btn btn-danger">Register Now</button></a>
            </div>
          </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">What we are?</a></h4>
              <p class="description">This is a non profitable organization which organised by (names) with core motive of teaching computer literacy to under privilage students</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">What we do?</a></h4>
              <p class="description">Infobeans foundation organised a Information Technology Excellence Programe (ITEP) though which we trained many student </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Eigibility Criteria</a></h4>
              <p class="description">Any one can join this programme who are 12th class passout and persuing any bachlors degree in any fields.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">What is ITEP?</a></h4>
              <p class="description">ITEP is a one year technology excellence programme on which we provide project based training and communications classes also.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="./assets/img/IMG_20220409_112501.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true">
            <video src=""></video></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <h4 class="title"><a href="">Teaching Technique</a></h4>
              <p class="description">This course is designed for     
                beginners, who have no programming experience.
                The course starts with a basic introduction to FullStack Developer and the fundamentals of programming. FullStack Developer is a powerful skill that is used by programmers to build all kinds of software from games to operating systems!
                 <!--Finally, we will talk about a few specific applications of FullStack Developer in the real world like web development, data science and machine learning.
                
                 -
                
                -It's one of the most popular languages in the world because it's easy to learn and really versatile!</p> -->
            </div>

            <!-- <div class="icon-box">
              <h4 class="title"><a href="">Technology we Teach</a></h4>
              <p class="description">It then moves on to some more advanced skills, such as JavaScript and MERN/MEAN or Android development, which are the bread and butter of any programmer’s toolkit.</p>
            </div> -->

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>Addmission process</h2>
          <p>It then moves on to some more advanced skills, such as JavaScript and MERN/MEAN or Android development, which are the bread and butter of any programmer’s toolkit.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="/assets/img/infobeans_foundation1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <!-- <h3>Addmission process</h3> -->
            <p class="fst-italic">
              We have been ITEP program for over 10 years and have helped a lot of student achieve their goals.
            </p>
            <ul>
              <li><i class="bi bi-check"></i>Ragister yourself in ITEP program</li>
              <li><i class="bi bi-check"></i>Entrance exam</li>
              <li><i class="bi bi-check"></i>Interview</li>
              <li><i class="bi bi-check"></i>House visit</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="/assets/img/infobeans_foundation2.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Syllabus of Exam</h3>
            <p class="fst-italic">
              This is a list of the prerequisites for this entrance exam
            </p>
            <!-- <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p> -->
            <ul>
              <li><i class="bi bi-check"></i>Basic Mathmatics</li>
              <li><i class="bi bi-check"></i>Reasoning & G.K.</li>
              <li><i class="bi bi-check"></i>Computer</li>
              <li><i class="bi bi-check"></i>English</li>
              <li><i class="bi bi-check"></i>Hindi</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="/assets/img/infobeans_foundation3.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-3">
              <h3>Interview Round</h3>
              <p>An interview is a conversation between two people, typically a Interviewer and interviewee. It's often used to gather information about the interviewee's life, career, thoughts or accomplishments.</p>
              <ul>
              <li><i class="bi bi-check"></i>A round with HR or hiring manager to assess the candidate’s qualifications for the position</li>
              <li><i class="bi bi-check"></i>A technical interview with a member of Infobeans Foundation team</li>
              <li><i class="bi bi-check"></i>A face-to-face interview with members of Infobeans Foundation team</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="/assets/img/infobeans_foundation4.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>House Visit</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

      </div>
    </section>
    <div class="container-fluid conbg">
      <br>
      <center><b>Latest News from us</b></center>
     <br>
     <br>
    <div class="accordion col-md-10 m-auto " id="accordionExample" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           <b> <%= news[0].headline%></b>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <%= news[0].fullnews%>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <b>  <%= news[1].headline%></b>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <%= news[1].fullnews%>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           <b> <%= news[2].headline%></b>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <%= news[2].fullnews%>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
   </div>
    <br><br>
    <%- include('../partials/footer')  %>
    <%- include('../partials/scripts')  %>
</body>
</html>